
/* Start: Product page */
.background-img  img {
    width: 100%;
    height: 737px;
}

.lable {
    padding-left: 177px;
    padding-right:178px;
    display: flex;
}

.lable .lable-text {
    font-weight: bold;
    padding: 45px 0 33px 0;
    line-height: 34px;
    color: black;
    font-size: 28px;
}

.lable .lable-source {
    padding: 45px 0 33px 196px;
}

.lable .lable-source > a {
    font-weight: bold;
    line-height: 34px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}
    
.lable-sort-by {
    display: inline-flex;
}

.lable .lable-sort-by {
    padding-top: 45px;
    padding-bottom: 33px;
    padding-left: 418px;
}

.lable-sort-by .lable-sort-by-title > p {
    font-size: 20px;
    color: black;
    line-height: 24px;
    width: 79px;
    padding-top: 5px;
}

.lable-sort-by .ti-angle-down {
    padding-left: 39px;
}

.lable-sort-by > ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
}

.lable-sort-by > ul > li {
    border: 1px solid #555;
    width: 188px;
    height: 38px;
}

.lable-sort-by > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    padding-left: 12px;
    color: black;
}

.lable-subnav {
    list-style-type: none;
    background-color: #f4f4f4;
    position: absolute;
    width: 188px;
    display: none;
}

.lable-sort-by li:hover .lable-subnav {
    display: block;
}

.lable-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.lable-subnav li a{
    display: block;
}

.lable-subnav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
}

.product {
    display: flex;
    padding-left: 177px;
}

#product-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 318px;
}

#product-category > li {
    border-bottom: 1px solid #555;
}

#product-category > li > a {
    display: block;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    padding-left: 24px;
    color: black;
}

#product-category .ti-angle-down {
    float: right;
    padding-right: 22px;
    line-height: 60px;
}

.product-bed {
    padding-left: 30px;
}

.product-1 {
    float: left;
    padding: 0 5px 0 5px;
}

.product-img {
    width: 269px;
    height: 175px;
}

.product-intro {
    text-align: center;
}

.product-name {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 0 6px, 0;
}

.product-cost {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.vertical-subnav {
    background-color: #f4f4f4;
    list-style-type: none;
    background-color: #f4f4f4;
    position: relative;
    width: 318px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    display: none;
}

.vertical-subnav > li > a {
    display: block;
}

.vertical-subnav a {
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding-left: 60px;
}

#product-category li:hover .vertical-subnav {
    display: block;
}

.vertical-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.sample-text {
    font-size: 34px;
    line-height: 39px;
    font-family: Ruluko;
    padding: 79px 0 28px 0;
    text-align: center;
}   

.sample-bedroom {
    display: inline-flex;
}

.sample-img1, .sample-img2,  .sample-img3 {
    width: 33.30%;
    height: 100%;
}
/* End: Product page */