* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter;
}

.header {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    display: flex;
}

.logo {
    font-size: 32px;
    line-height: 39px;
    padding: 19px 0 0 148px;;
    font-family: inter;
}

.navigation-list {
    display: inline-block;
    padding-left: 411px;
}

.navigation-list > li {
    display: inline-block;
}

.navigation-list li {
    position: relative;
    margin: 31px 44px 31px 0; 
}

.navigation-list li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    font-family: inter;
    font-weight: bolder;
}

.navigation-list li:hover a{
    background-color: #ccc;
}

.button {
    font-weight: bolder;
    font-size: 24px;
}

.button.ti-search {
    margin-left: 134px;
    line-height: 81px;
}

.button.ti-shopping-cart {
    margin-left: 15px;
    line-height: 81px;
}

.header .button:hover {
    cursor: pointer;
}

.background-img  img {
    width: 100%;
    height: 737px;
}

.lable {
    padding-left: 177px;
    padding-right:178px;
    display: flex;
}

.lable .lable-text {
    font-weight: bold;
    padding: 45px 0 33px 0;
    line-height: 34px;
    color: black;
    font-size: 28px;
}

.lable .lable-source {
    padding: 45px 0 33px 196px;
}

.lable .lable-source > a {
    font-weight: bold;
    line-height: 34px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}
    
.lable-sort-by {
    display: inline-flex;
}

.lable .lable-sort-by {
    padding-top: 45px;
    padding-bottom: 33px;
    padding-left: 418px;
}

.lable-sort-by .lable-sort-by-title > p {
    font-size: 20px;
    color: black;
    line-height: 24px;
    width: 79px;
    padding-top: 5px;
}

.lable-sort-by .ti-angle-down {
    padding-left: 39px;
}

.lable-sort-by > ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
}

.lable-sort-by > ul > li {
    border: 1px solid #555;
    width: 188px;
    height: 38px;
}

.lable-sort-by > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    padding-left: 12px;
    color: black;
}

.lable-subnav {
    list-style-type: none;
    background-color: #f4f4f4;
    position: absolute;
    width: 188px;
    display: none;
}

.lable-sort-by li:hover .lable-subnav {
    display: block;
}

.lable-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.lable-subnav li a{
    display: block;
}

.lable-subnav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
}

.product {
    display: flex;
    padding-left: 177px;
}

#product-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 318px;
}

#product-category > li {
    border-bottom: 1px solid #555;
}

#product-category > li > a {
    display: block;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    padding-left: 24px;
    color: black;
}

#product-category .ti-angle-down {
    float: right;
    padding-right: 22px;
    line-height: 60px;
}

.product-bed {
    padding-left: 30px;
}

.product-1 {
    float: left;
    padding: 0 5px 0 5px;
}

.product-img {
    width: 269px;
    height: 175px;
}

.product-intro {
    text-align: center;
}

.product-name {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 0 6px, 0;
}

.product-cost {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.vertical-subnav {
    background-color: #f4f4f4;
    list-style-type: none;
    background-color: #f4f4f4;
    position: relative;
    width: 318px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    display: none;
}

.vertical-subnav > li > a {
    display: block;
}

.vertical-subnav a {
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding-left: 60px;
}

#product-category li:hover .vertical-subnav {
    display: block;
}

.vertical-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.sample-text {
    font-size: 34px;
    line-height: 39px;
    font-family: Ruluko;
    padding: 79px 0 28px 0;
    text-align: center;
}   

.sample-bedroom {
    display: inline-flex;
}

.sample-img1, .sample-img2,  .sample-img3 {
    width: 33.30%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 500px;
    padding: 105px 120px 0 120px;
    background-color: #ffffff;
}

.footer-part {
    float: left;
    width: 25%;
}

.footer-part li a {
    font-size: 15px;
    line-height: 22.5px;
    color: #616161;
    text-decoration: none;
}

.footer-part p {
    padding-top: 16px;
    color: #616161;
}

.footer-part li {
    padding-top: 16px;
}

.footer-part ul {
    list-style-type: none;
}

.footer-part.b {
    padding-left: 94px;
}

.footer-part.c {
    padding-left: 42px;
}

.footer-part.d {
    padding-left: 66px;
}

.footer-part.d .ti-check {
    float: right;
    color: #ffffff;
    background-color: #3B5D50;
    width: 48px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.footer-part.d li {
    width: 242px;
    height: 45px;
    border: 1px solid #000;
    padding-top: 0;
}

.footer-part.d  li  a {
    line-height: 45px;
    padding-left: 12px;
}
.footer-part.d ul {
    display: flex;
    padding-top: 16px;
}

.footer-part.d .ti-check:hover {
    cursor: pointer;
}
