/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start: Header */
.header-web {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
}

.logo {
    font-size: 32px;
    line-height: 39px;
    padding: 19px 0 0 148px;;
    font-family: inter;
}

.navigation-list {
    display: inline-block;
    padding-left: 411px;
}

.navigation-list > li {
    display: inline-block;
}

.navigation-list li {
    position: relative;
    margin: 31px 44px 31px 0; 
}

.navigation-list li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    font-family: inter;
    font-weight: bolder;
}

.navigation-list li a::after {
    content: "";
    position: absolute;
    background-color: #F9BF29;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navigation-list li a:hover::after{
    width: 100%;
}
.navigation-list li:hover a{
    color: #231010;
}

.button {
    font-weight: bolder;
    font-size: 24px;
}

.button.ti-search {
    margin-left: 134px;
    line-height: 81px;
    cursor: pointer;
}

.button.ti-shopping-cart {
    margin-left: 15px;
    line-height: 81px;
    cursor: pointer;
}

.header .button:hover {
    cursor: pointer;
}

/* End: Header */

/* Start: Product page */
.background-img  img {
    width: 100%;
    height: 737px;
}

.lable {
    padding-left: 177px;
    padding-right:178px;
    display: flex;
}

.lable .lable-text {
    font-weight: bold;
    padding: 45px 0 33px 0;
    line-height: 34px;
    color: black;
    font-size: 28px;
}

.lable .lable-source {
    padding: 45px 0 33px 196px;
}

.lable .lable-source > a {
    font-weight: bold;
    line-height: 34px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}
    
.lable-sort-by {
    display: inline-flex;
}

.lable .lable-sort-by {
    padding-top: 45px;
    padding-bottom: 33px;
    padding-left: 418px;
}

.lable-sort-by .lable-sort-by-title > p {
    font-size: 20px;
    color: black;
    line-height: 24px;
    width: 79px;
    padding-top: 5px;
}

.lable-sort-by .ti-angle-down {
    padding-left: 39px;
}

.lable-sort-by > ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
}

.lable-sort-by > ul > li {
    border: 1px solid #555;
    width: 188px;
    height: 38px;
}

.lable-sort-by > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    padding-left: 12px;
    color: black;
}

.lable-subnav {
    list-style-type: none;
    background-color: #f4f4f4;
    position: absolute;
    width: 188px;
    display: none;
}

.lable-sort-by li:hover .lable-subnav {
    display: block;
}

.lable-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.lable-subnav li a{
    display: block;
}

.lable-subnav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
}

.product {
    display: flex;
    padding-left: 177px;
}

#product-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 318px;
}

#product-category > li {
    border-bottom: 1px solid #555;
}

#product-category > li > a {
    display: block;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    padding-left: 24px;
    color: black;
}

#product-category .ti-angle-down {
    float: right;
    padding-right: 22px;
    line-height: 60px;
}

.product-bed {
    padding-left: 30px;
}

.product-1 {
    float: left;
    padding: 0 5px 0 5px;
}

.product-img {
    width: 269px;
    height: 175px;
}

.product-intro {
    text-align: center;
}

.product-name {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 0 6px, 0;
}

.product-cost {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.vertical-subnav {
    background-color: #f4f4f4;
    list-style-type: none;
    background-color: #f4f4f4;
    position: relative;
    width: 318px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    display: none;
}

.vertical-subnav > li > a {
    display: block;
}

.vertical-subnav a {
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding-left: 60px;
}

#product-category li:hover .vertical-subnav {
    display: block;
}

.vertical-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.sample-text {
    font-size: 34px;
    line-height: 39px;
    font-family: Ruluko;
    padding: 79px 0 28px 0;
    text-align: center;
}   

.sample-bedroom {
    display: inline-flex;
}

.sample-img1, .sample-img2,  .sample-img3 {
    width: 33.30%;
    height: 100%;
}
/* End: Product page */

/* Start: Cart page */
#cart-page {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
}

#cart-page .cart-title{
    font-size: 48px;
    text-align: center;
    padding: 75px 0px;
}

#cart-page .cart-products{
    margin: 0 16%;
}

#cart-page .cart-products .cart-headings{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom-style: solid;
    border-width: 2px;
}

#cart-page .cart-headings .product-detail-heading{
    width: 60%;
}

#cart-page .cart-headings .product-total-headings{
    display: flex;
    flex-direction: row;
}

#cart-page .product-total-headings .product-price-heading,
#cart-page .product-total-headings .product-quantity-heading,
#cart-page .product-total-headings .product-total-heading{
    width: 120px;
    text-align: center;
}

#cart-page .cart-products .cart-product{
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    border-bottom-style: solid;
    border-width: 1px;
}

#cart-page .cart-product .product-detail{
    width: 60%;
    display: flex;
    flex-direction: row;
}

#cart-page .cart-product .product-image{
    height: 80px;
    width: 120px;
    border-radius: 12px;
    margin-right: 20px;
}

#cart-page .cart-product .product-name{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px;
}

#cart-page .cart-product .product-status{
    font-size: 16px;
    text-decoration: underline;
    color: #2c5c42;
}

#cart-page .cart-product .product-total{
    display: flex;
    flex-direction: row;
}

#cart-page .product-total .product-price,
#cart-page .product-total .product-quantity,
#cart-page .product-total .product-total-price{
    width: 120px;
    margin: auto 0px;
    text-align: center;
}

#cart-page .cart-products .cart-sub-total{
    margin-top: 40px;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
}

#cart-page .cart-sub-total .sub-total-title, 
#cart-page .cart-sub-total .sub-total-price{
    display: inline-block;
    flex-direction: row;
    padding-right: 80px;
    padding-bottom: 20px;
    font-weight: 600;
}

#cart-page .cart-sub-total .sub-total-note{
    font-style: italic;
    width: 140px;
    opacity: 0.4;
}
#cart-page .cart-sub-total .check-out-button {
    position: relative;
    display: inline-block;
}
#cart-page .cart-sub-total .check-out-button button{
    
    width: 180px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    background: transparent;
    font-weight: 800;
    border-radius: 25px;
    border: 2px solid #9ccf93;
    cursor: pointer;
    position: relative;
    overflow: hidden ;
    z-index: 0;
}
#cart-page .cart-sub-total .check-out-button button span{
    background: #9ccf93 ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
#cart-page .cart-sub-total .check-out-button button:hover span{
    width: 100%;
}
#cart-page .cart-sub-total .check-out-button button:hover {
    border: 2px solid #fff;
}
/* End: Cart page */

/* Start: Billing detail page */
#billing-detail-page {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
}

#billing-detail-page .billing-detail-title{
    font-size: 48px;
    text-align: center;
    padding: 75px 0px;
}

#billing-detail-page .shipment{
    height: 100%;
    margin: 0 16%;
    display: flex;
}

#billing-detail-page .customer-information{
    width: 50%;
}

#billing-detail-page .customer-information .info-textfield{
    margin-bottom: 20px;
}

#billing-detail-page .customer-information .info-textfield label{
    color: #000;
    opacity: 0.5;
}

#billing-detail-page .customer-information .info-textfield input{
    width: 100%;
    background-color: #f5f5f5;
    height: 32px;
    margin-top: 4px;
}

#billing-detail-page .customer-information .save-info-checkbox{
    height: 40px;
}

#billing-detail-page .customer-information .save-info-checkbox input{
    margin-right: 10px;
}

#billing-detail-page .customer-information .save-info-checkbox label{
    margin: auto 0;
}

#billing-detail-page .shipment-information{
    width: 50%;
    display: inline-block;
    margin-left: 200px;
}

#billing-detail-page .shipment-information .shipment-products{

}

#billing-detail-page .shipment-information .shipment-product{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    /* border-bottom-style: solid;
    border-width: 1px; */
}

#billing-detail-page .shipment-product .shipment-product-image{
    margin-right: 20px;
}

#billing-detail-page .shipment-product .shipment-product-name{
    margin: auto 0;
    width: 60%;
}

#billing-detail-page .shipment-product .shipment-product-price{
    width: 100%;
    text-align: right;
    margin: auto 0;
}

#billing-detail-page .shipment-product .shipment-product-image{
    height: 50px;
    border-radius: 12px;
}

#billing-detail-page .shipment-information .shipment-price{
    
}

#billing-detail-page .shipment-price .shipment-subtotal,
#billing-detail-page .shipment-price .shipment-shipping,
#billing-detail-page .shipment-price .shipment-total{
    display: flex;
    padding: 10px 0;
}

#billing-detail-page .shipment-price .shipment-shipping{
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

#billing-detail-page .shipment-price .shipment-title{
}

#billing-detail-page .shipment-price .shipment-price{
    width: 100%;
    text-align: right;
}

#billing-detail-page .shipment-information .payment-methods{
    margin-top: 20px;
}

#billing-detail-page .shipment-information .voucher{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#billing-detail-page .voucher .voucher-input{
    margin-right: 20px;
    border-radius: 12px;
    padding-left: 10px;
    width: 50%;
    font-size: 20px;
}

#billing-detail-page .voucher .voucher-button{
}

#billing-detail-page .voucher .voucher-button button{
    background-color: #93cfa4;
    padding: 8px 20px;
    font-weight: 800;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
}

#billing-detail-page .place-order-button button,
#billing-detail-page .back-to-cart-button button{
    width: 40%;
    background-color: #93cfa4;
    padding: 10px 16px;
    font-weight: 800;
    border-radius: 12px;
    margin-top: 24px;
}

/* End: Billing detail page */

/* Start: Shop all */
.cate-product {
    padding-left: 141px;
    padding-top: 56px;
}

.cate-prd {
    margin-right: 38px;
    display: inline-block;
    padding-bottom: 46px;
  }
  
.wall-img {
    width: 605px;
    height: 340px;
}

.cate-product-title {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.cate-name {
    font-size: 26px;
    line-height: 56px;
}

.button-shop {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 48px;
    border: 1px solid black;
    border-radius: 1cap;
}

.button-shop:hover {
    cursor: pointer;
    background-color: #FFE3DA;
}
/* End: Shop all */

/* Start: Product detail page */

#product-detail-page .ti-arrow-left {
    position: absolute;
    top: 118px;
    left: 100px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  
#product-detail-page .chair,
#product-detail-page .slash {
    position: relative;
}
  
#product-detail-page .chair {
    line-height: 16px;
    font-weight: 500;
    opacity: 0.4;
}
  
#product-detail-page .slash {
    font-weight: 100;
}
  
#product-detail-page .meryl-lounge-chair {
    position: relative;
    line-height: 16px;
    font-weight: 500;
    display: inline-block;
    width: 430px;
    flex-shrink: 0;
}
  
#product-detail-page .breadcrumbs {
    top: 179px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: var(14px);
}
  
#product-detail-page .breadcrumbs,
#product-detail-page .price,
#product-detail-page .meryl-lounge-chair1 {
    position: absolute;
    left: 100px;
}
  
#product-detail-page .meryl-lounge-chair1 {
    top: 246px;
    font-size: 44px;
    line-height: 56px;
}
  
#product-detail-page .price {
    top: 344px;
    font-size: var(24px);
    letter-spacing: 0.15px;
    line-height: 32px;
    font-weight: 100;
    padding-top: 5px;
}
  
#product-detail-page .ti-star {
    position: relative;
    width: 16px;
    height: 14px;
    color: yellow;
}
  
#product-detail-page .span {
    color: var(#a2a3b1);
}

#product-detail-page .total-ratings {
    position: relative;
    line-height: 24px;
    padding-top: 5px;
}
  
#product-detail-page .ratings {
    position: absolute;
    top: 348px;
    left: 338px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
  
/* #product-detail-page .product-image-child {
    position: absolute;
    top: 322.19px;
    left: 532.52px;
    border-radius: 90px;
    background-color: #c4c4c4;
    filter: blur(124px);
    width: 105.6px;
    height: 245.12px;
    transform: rotate(80.16deg);
    transform-origin: 0 0;
    opacity: 0.3;
} */
  
#product-detail-page .product-image-item {
    position: absolute;
    top: 85px;
    left: 397.3px;
    background: linear-gradient(-89.74deg, #4b8785 54.17%, rgba(75, 135, 133, 0));
    width: 432.7px;
    height: 250px;
    opacity: 0.1;
}
  
#product-detail-page .product-image {
    position: absolute;
    top: 302px;
    left: 604px;
    width: 844px;
    height: 469.5px
}
  
#product-detail-page .span1 {
    font-weight: 100
}
  
#product-detail-page .span2 {
    font-weight: 500
}
  
#product-detail-page .picture-preview {
    top: 9px;
    left: 44px;
    letter-spacing: 0.15px;
    line-height: 32px;
}
  
#product-detail-page .b,
#product-detail-page .picture-preview,
#product-detail-page .preview {
    position: absolute;
}
  
#product-detail-page .b {
    top: 0;
    left: 0;
    font-size: var(32px);
    line-height: 44px;
    color: var(#17183b);
    padding-top: 2px;
}
  
#product-detail-page .preview {
    top: 155px;
    left: 1268px;
    width: 90px;
    height: 44px;
    font-size: var(24px);
    color: var(#a2a3b1)
}
#product-detail-page .ti-angle-right, 
#product-detail-page .ti-angle-right {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
  
#product-detail-page .arrows {
    position: absolute;
    top: 212px;
    left: 1248px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}
  
/* #product-detail-page .left-right-button {
    border: none;
    background-color: transparent;
} */
  
/* #product-detail-page .left-right-button:hover {
    background-color: gray;
} */
  
#product-detail-page .the-gently-curved {
    position: absolute;
    top: 422px;
    left: 100px;
    line-height: 24px;
    display: inline-block;
    width: 440px;
}
/* #product-detail-page .color-selection-icon {
    position: absolute;
    top: 542px;
    left: 100px;
    width: 132px;
    height: 28px;

} */
  
#product-detail-page .product-quantity {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 300;

}
  
#product-detail-page .quantity {
    position: absolute;
    top: 611px;
    left: 100px;
    border-radius: var(4px);
    border: 1px solid var(#a2a3b1);
    box-sizing: border-box;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 40px;
    font-size: 20px;
  
}

#product-detail-page .ti-minus,
#product-detail-page .ti-plus {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  
}
  
/* #product-detail-page .plus-minus-button {
    border: none;
    background-color: transparent;
  
} */
  
/* #product-detail-page .plus-minus-button:hover {
    background-color: gray
  
} */
  
#product-detail-page .addtocart {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    background-color: transparent;
}
  
#product-detail-page .button {
    position: absolute;
    top: 611px;
    left: 305px;
    border-radius: var(4px);
    background-color: var(#3aa39f);
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 40px;
    box-sizing: border-box;
    gap: 16px;
    color: var(#fff);
}
  
#product-detail-page .button:hover {
    background-color: #36817f
}
  
#product-detail-page .free-3-5-day {
    position: absolute;
    top: 709px;
    left: 100px;
    line-height: 24px;
    display: inline-block;
    width: 466px;
}

#product-detail-page .sentence {
    padding-bottom: 100px;
}

#product-detail-page .content {
    position: absolute;
    display: flex;
}

#product-detail-page .ti-reload,
#product-detail-page .ti-heart {
    padding-right: 10px;
    padding-top: 3px;
}

#product-detail-page .ti-reload {
    padding-left: 24px;
}

#product-detail-page .share {
    padding-left: 24px;
}

#product-detail-page .ti-twitter {
    padding-left: 5px;
}

#product-detail-page .ti-printerest {
    padding-left: 5px;
}

#product-detail-page .detai-info {
    display: flex;
    position: absolute;
}

#product-detail-page .big-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 844px;
    height: 461px;
    object-fit: cover;
    mix-blend-mode: darken;
    padding-bottom: 20px;
}

#product-detail-page .detail-image {
    top: 761px;
    left: 665px;
    width: 800px;
    position: relative;
    display: flex;
}
#product-detail-page .img4,
#product-detail-page .img3,
#product-detail-page .img2,
#product-detail-page .img1 {
    display: block;
    
}

#product-detail-page .img-child {
    height: 104px;
    width: 120px;
    margin: 10px 12PX;
    border: 1px solid #000;
}

#product-detail-page .product-detail {
    position: relative;
    background-color: var(#fff);
    width: 100%;
    height: 923px;
    overflow: hidden;
    text-align: left;
    font-size: var(16px);
    color: var(#17183b);
    font-family: var(Inter);
}
/* End: Product detail page */

/* Start: About us page */
#about-us-page .about-us-heading {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 75px;
}

#about-us-page .about-us-info {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}

#about-us-page .about-us-image {
    text-align: center;
}

#about-us-page .abs {
    width: 100%;
    padding-bottom: 15px;
}

#about-us-page .guarantee {
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
}

#about-us-page .about-us-number {
    text-align: center;
    display: flex;
    padding-left: 570px;
}

#about-us-page .experience {
    text-align: center;
    padding-right: 50px;
}

#about-us-page .happy-client {
    text-align: center;
    padding-right: 50px;
}

#about-us-page .product-saled {
    text-align: center;
}

#about-us-page .number {
    font-size: 25px;
    font-family: cursive;
    padding-bottom: 20px;
}

#about-us-page .word {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

#about-us-page .about-us-archive {
    text-align: center;
    display: flex;
    padding-left: 160px;
    padding-top: 60px;
}

#about-us-page .ti-headphone-alt,
#about-us-page .ti-check,
#about-us-page .ti-truck,
#about-us-page .ti-cup {
    font-size: 50px;
    padding-right: 10px;
}

#about-us-page .archive-word {
    padding-top: 5px;
}
#about-us-page .big-word {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

#about-us-page .small-word {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

#about-us-page .other-info {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

#about-us-page .introduce {
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 50px;
}

#about-us-page .members2,
#about-us-page .members1 {
    display: flex;
    text-align: center;
    padding-left: 125px;
}

#about-us-page .members-info {
    padding-left: 29px;
}

#about-us-page .members-image {
    height: 360px;
    width: 394px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#about-us-page .members-name {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

#about-us-page .position {
    font-size: 16px;
    opacity: 50%;
}
/* End: About us page */
/* Start: Footer */
.footer-web {
    width: 100%;
    height: 500px;
    padding: 105px 120px 0 120px;
    background-color: #ffffff;
}

.footer-part {
    float: left;
    width: 25%;
}

.footer-part li a {
    font-size: 15px;
    line-height: 22.5px;
    color: #616161;
    text-decoration: none;
}

.footer-part p {
    padding-top: 16px;
    color: #616161;
}

.footer-part li {
    padding-top: 16px;
}

.footer-part ul {
    list-style-type: none;
}

.footer-part.b {
    padding-left: 94px;
}

.footer-part.c {
    padding-left: 42px;
}

.footer-part.d {
    padding-left: 66px;
}

.footer-part.d .ti-check {
    float: right;
    color: #ffffff;
    background-color: #3B5D50;
    width: 48px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.footer-part.d li {
    width: 242px;
    height: 45px;
    border: 1px solid #000;
    padding-top: 0;
}

.footer-part.d  li  a {
    line-height: 45px;
    padding-left: 12px;
}
.footer-part.d ul {
    display: flex;
    padding-top: 16px;
}

.footer-part.d .ti-check:hover {
    cursor: pointer;
}
/* End: Footer */